/*Animations*/

.menuOpen{
    animation: menuOpen 1.25s ease-in-out;
}

.menuClose{
    animation: menuClose 1.25s ease-in-out;
}

/*Keyframes*/

@keyframes menuOpen {
    0%   {top: -20%;}
    100% {top: 8%;}
}

@keyframes menuClose {
    0%   {top: 8%;}
    100% {top: -20%;}
}
