@font-face {
    font-family: "FuturaBook";
    src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
    font-family: "FuturaDemi";
    src: url("/fonts/FuturaPTDemi.otf");
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/FuturaPTBold.otf");
}

@font-face {
    font-family: "FuturaHeavy";
    src: url("/fonts/FuturaPTHeavy.otf");
}

body {
    background-color: #000;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.screen {
    position: absolute;
    overflow: hidden;
}

#skyContainer{
    visibility: visible;
    display: inline-flex;
}

#citySkyline{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#header{
    position: absolute;
    width: 100%;
    height: 7.5%;
    background-color: white;
    margin-bottom: 7.5%;
    z-index: 100;
}

#logoContainer{
    position: absolute;
    width: 20%;
    height: 25%;
    left: 40%;
    top: 15%;
    border-radius: 100%;
    box-shadow: 0.15625rem 0.15625rem 0.15625rem grey;

    background: #48b3e6; /* Old browsers */
}

#logo{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
    height: 90%;
}

#logoText{
    position: absolute;
    width: 25%;
    height: 10%;
    left: 37.5%;
    top: 42%;
    color: white;
    text-align: center;
    font-size: 1rem;
}

#logoHeadContainer{
    position: absolute;
    height: 100%;
    top: 0%;
    left: 1%;
    z-index: 1;
}

#headerlogo{
    height: 100%;
}

#menuButtonContainer{
    position: absolute;
    width: 7.5%;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 1;
}

#logoHeadContainer{
    position: absolute;
    width: 7.5%;
    height: 50%;
    top: 25%;
    left: 2%;
    z-index: 1;
}


#menuButton{
    position: absolute;
    font-size: 1rem;
    top: 0%;
    height: 100%;
    right: 0%;
    text-align: center;
    color: white;
}
.button:active{
  transform: translateY(0.250rem);
}

#menuContainer{
    position: absolute;
    top: -30%;
    right: -2%;
    width: 13%;
    height: 35%;
    z-index: 0;
    margin: 0%;
}

.menuOption{
    position: relative;
    right: 0%;
    height: 25%;
    margin: -12%;
    background-color: none;
}

.menuImg{
    height: 100%;
    margin: 0%;
}

.menuText{
    position: absolute;
    height: 20%;
    width: 80%;
    top: 20%;
    left: 10%;
    font-size: 0.5rem;
    color: white;
    text-align: center;
}
