@font-face {
    font-family: "FuturaBook";
    src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
    font-family: "FuturaDemi";
    src: url("/fonts/FuturaPTDemi.otf");
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/FuturaPTBold.otf");
}

@font-face {
    font-family: "FuturaHeavy";
    src: url("/fonts/FuturaPTHeavy.otf");
}

body {
    background-color: #000;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.screen {
    position: absolute;
    overflow: hidden;
}

#skyContainer{
    visibility: visible;
    display: inline-flex;
}

#citySkyline{
    /*position: absolute;
    width: 300%;
    left: 0;
    bottom: 0;
    z-index: 0;*/

    position: absolute;
    width: 300%;
    height: 115%;
    left: 0;
    bottom: -25%;
    z-index: 0;
}

#header{
    position: absolute;
    width: 100%;
    height: 7.5%;
    background-color: white;
    margin-bottom: 7.5%;
    z-index: 100;
}

#logoContainer{
  position: absolute;
      width: 100%;
      height: 120%;
      left: 0%;
      top: -50%;
      border-radius: 100%;
      z-index: 1;
    animation: shake 0.82s cubic-bezier(.16,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation-iteration-count: infinite;
animation-timing-function: linear;
}

#main{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 70%;
  bottom: 15%;
  visibility: hidden;
  z-index: 1;
}

#mainTitle{
  position: absolute;
  width: 90%;
  left: 5%;
  height: 15%;
  top: 0;
}

#mainContentCoupon{
  position: absolute;
  top: 15%;
  height: 105%;
  width: 90%;
  left: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

#mainContentAbout{
  position: absolute;
  top: 15%;
  height: 80%;
  width: 90%;
  left: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.labelOptions{
  width: 90%;
  left: 5%;
  height: 20%;
  margin-bottom: -7%;
}

#mainContentAboutText{
  position: absolute;
  top: 10%;
  height: 80%;
  width: 80%;
  left: 5%;
  padding: 5%;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FEBC2E;
  color: #493932;
  border-radius:15px;
}

a{
  position: absolute;
  left: 20%;
  width: 65%;
  height: 7%;
  font-size: 0.75rem;
  z-index: 100;
  margin: 4%;
  margin-top:9%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.labelImgOptions{
  position: absolute;
  width: 100%;
  height: 30%;
  left: 5%;
  margin: 0;
  margin-bottom: 2%;
  z-index: 0;
}

#label{
  position: absolute;
  width: 45%;
  left: 27.5%;
  height: 80%;
  top: 10%;
  text-align: center;
}

#labelImg{
  position: absolute;
  width: 90%;
  left: 5%;
  height: 100%;
}

#logo{
  position: absolute;
  width: 90%;
  left: 5%;
  top: 45%;
  height: 90%;
}

#facebookButton{
    position: absolute;
    left : 38%;
    top : 55%;
    width: 2em;
    height: 2em;

}

#logoText{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 20%;
    z-index: 1;
}

#logoHeadContainer{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    left: 1%;
    z-index: 1;
}

#headerlogo{
  position: absolute;
    height: 100%;
    left: 57.5%;
}

#headerlogo0{
  position: absolute;
    height: 200%;
    left: 0;
    bottom: -32.5%;
}

#menuButtonContainer{
    position: absolute;
    width: 7.5%;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 1;
}

#logoHeadContainer{
    position: absolute;
    width: 7.5%;
    height: 50%;
    top: 25%;
    left: 2%;
    z-index: 1;
}

#menuButton{
    position: absolute;
    font-size: 1rem;
    top: 0%;
    height: 100%;
    right: 0%;
    text-align: center;
    color: white;
}
.button:active{
  transform: translateY(0.250rem);
}

#menuContainer{
    position: absolute;
    top: -30%;
    right: -2%;
    width: 13%;
    height: 35%;
    z-index: 10;
    margin: 0%;
}

.menuOption{
    position: relative;
    right: 0%;
    height: 25%;
    margin: -12%;
    background-color: none;
}

.menuImg{
    height: 100%;
    margin: 0%;
}

.menuText{
    position: absolute;
    height: 20%;
    width: 80%;
    top: 20%;
    left: 10%;
    font-size: 0.5rem;
    color: white;
    text-align: center;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: rgba(245, 245, 245, 0.3);
}

::-webkit-scrollbar
{
  width: 12px;
	background-color: rgba(245, 245, 245, 0.3);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  	background-color: rgba(85, 85, 85, 0.3);
}
